.box {
    padding-left: 200px;
    padding-right: 100px;
    height: 100px;
}
.center {
    float: left;
    height: 100px;
    width: 100%;
    min-width: 500px;
    background-color: grey;
}
.left {
    float: left;
    height: 100px;
    width: 200px;
    background-color: red;
    margin-left: -100%;
    position: relative;
    right: 200px;
}
.right {
    float: left;
    height: 100px;
    width: 100px;
    margin-right: -100px;
    background-color: green;
}